.timeline__btn-wrap {
    display: flex;
    justify-content: center;
    margin: 30px 15px 0;
}
.timeline__btn {
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1.5px solid #013787;
    border-radius: 89px;
    padding: 5px 40px;
    font-size: 16px;
    line-height: 120%;
    color: #013787;
}
.connection {
    padding: 180px 0;
}
.connection .connection__form-wrap {
    max-width: 575px;
    margin: 0 auto;
    border-radius: 15px;
}
.connection__title {
    text-align: center;
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
    color: #003787;
}
.connection__form {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    margin-top: 20px;
}
.connection__form-group {
    position: relative;
}
.connection__form-group input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: 2px solid #013787 !important;
    border-radius: 38px;
    padding: 0 30px 0 56px;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}
.connection__form-group input::placeholder {
    color: #7C7C7C;
}
.connection__form-group .input-icon {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    max-width: 18px;
    display: flex;
    align-items: center;
}
.connection__form-group .input-icon img {
    max-width: 100%;
}
.connection__form-btn {
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #013787;
    border-radius: 89px;
    padding: 5px 60px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
    color: #fff;
    margin: 0 auto;
    transition: all 0.3s;
}
.connection__form-btn:hover {
    background: #002866;
}
.connection__form-btn .btn-icon {
    width: 10px;
}
.connection__form-btn .btn-icon svg {
    width: 100%;
}
.follow__btn-wrap {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}
.follow__btn {
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1.5px solid #013787;
    border-radius: 89px;
    padding: 5px 40px;
    font-size: 16px;
    line-height: 120%;
    color: #013787;
}
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    overflow-y: auto;
}
.modal--active {
    opacity: 1;
    pointer-events: unset;
}
@media screen and (min-width: 993px) {
    .modal::before {
         display: inline-block;
         vertical-align: middle;
         content: " ";
         height: 100%;
     }
    .modal__dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
}
.modal__dialog {
    position: relative;
    width: 575px;
    max-width: 100%;
    height: max-content;
    background: #fff;
    border-radius: 15px;
    padding: 48px 58px;
    margin: auto;
}
@media screen and (max-width: 992px) {
    .modal__dialog {
        margin: 50px auto 0;
        max-width: calc(100% - 30px);
    }
}
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    padding: 0;
    width: 24px;
}
.modal__close img {
    width: 100%;
    height: auto;
}
.modal .connection__form-wrap {
    width: 100%;
    max-width: 100%;
}


@media screen and (max-width: 767px) {
    .connection {
        padding: 40px 0;
    }
    .connection .connection__form-wrap {
        max-width: 400px;
    }
    .modal__dialog {
        width: calc(100% - 30px);
        max-width: 400px;
        padding: 48px 24px 32px 24px;
    }
}